@keyframes drive {
    0%  { 
        transform: rotate(0deg); 
        left: 0;
        opacity: 0;
    }
    25% { 
        transform: rotate(-20deg);
        top: 0;
        opacity: 1;
    }
    50% { 
        transform: rotate(0deg);
        left: 83%;
    }
    100% { 
        left: 100%;
        opacity: 0;
    }
}

.loadAnimation {
    animation: drive 2.5s ease-out infinite;  
    position: relative;
}